<%# -*- coding: utf-8 -*-%>
    <% require 'rubygems' #%>
        <% require 'dbi' #%>

            <% dbh=DBI.connect('DBI:SQLite3:boardsystem.db')%>

                <% sth=dbh.execute("select * from board;")%>

                    <html>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
                    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

                    <head>
                        <meta http-equiv="content-type" content="text/html" charset=" UTF-8" />

                        <title>掲示板</title>
                    </head>

                    <body>
                        <h1>掲示板</h1>
                        <p>
                            <a href="index.html">メニュー画面に戻る</a>
                        </p>
                        <hr>
                        <%if send_id!=nil && send_id!=""%>

                            <form method="post" action="board">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="comment">
                                    <label class="mdl-textfield__label" for="sample3">コメント</label>
                                </div>
                                <input type="hidden" name="user_name" value="<%=send_id%>">
                                <input type="submit" value="書き込む">
                                <hr>

                                <style>
                                    .demo-list-three {
                                        width: 650px;
                                    }
                                </style>
                                <ul class="demo-list-three mdl-list">
                                    <% sth.each do |row|%>
                                        <li class="mdl-list__item mdl-list__item--three-line">
                                            <span class="mdl-list__item-primary-content">
                                                <i class="material-icons mdl-list__item-avatar">person</i>
                                                <span>
                                                    <%=row["id"]%>
                                                </span>
                                                <span class="mdl-list__item-text-body">
                                                    <%=row["comment"]%>
                                                </span>
                                            </span>
                                            <span class="mdl-list__item-secondary-content">
                                                <%=row["date"]%>
                                            </span>
                                        </li>
                                        <%end%>
                                </ul>

                                <%end%>
                            </form>
                    </body>

                    </html>

                    <%sth.finish%>

                        <%dbh.disconnect%>