<%# -*- coding: utf-8 -*-%>
    <html>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <head>
        <meta http-equiv="content-type" content="text/html" charset=" UTF-8" />
        <title>掲示板</title>
    </head>

    <body>
        <h1>掲示板</h1>
        <p>下記のユーザーデータを登録しました|
            <a href="index.html">メニュー画面に戻る</a>
        </p>
        <hr>

        <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
            <th>項目名</th>
            <th>登録データ</th>
            <%['id','password'].each do |name|%>
                <tr>
                    <td>
                        <%=name%>
                    </td>
                    <td>
                        <%=req.query[name]%>
                    </td>
                </tr>
                <%end%>
        </table>
        <hr>
    </body>

    </html>