<%# -*- coding: utf-8 -*-%>
    <html>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <head>
        <meta http-equiv="content-type" content="text/html" charset=" UTF-8" />
        <title>掲示板</title>
    </head>

    <body>
        <h1>掲示板</h1>
        <a href="index.html">メニュー画面に戻る</a>
        </p>
        <hr>

        <form method="post" action="register">
            <table>
                <% ['id','password'].each do |name| %>
                    <tr>
                        <td>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="<%=name%>" size="60">
                                <label class="mdl-textfield__label" for="sample3">
                                    <%=name%>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <% end %>
            </table>
            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
                登録
            </button>
            <hr>
    </body>

    </html>