body {
    background-color: #fff8dc;
}

h1,
h2,
h3 {
    border-width: 0 0 0 8px;
    border-style: solid;
    padding-left: 0.3em;
    padding-right: 0.5em;
}

h1 {
    margin: 0em 0em 0em 0em;
    font-size: 1.2em;
    color: white;
    border-color: #fff8dc;
    background-color: maroon;
    border-width: 0.1em 0em 0.1em 0.1em;
    padding-left: 0.3em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h2 {
    font-size: 1.2em;
    color: navy;
    border-color: darkgreen
}

table {
    border-width: 1px, 0px, 0px, 1px;
    border-type: solid;
    border-color: gray;
    padding: 4px;
    background-color: #ffffef;
}

th {
    text-align: center;
    font-weight: bold;
    background-color: #a0b8c8;
}