<%# -*- coding: utf-8 -*-%>
    <% require 'rubygems' #%>
        <% require 'dbi' #%>

            <% dbh=DBI.connect('DBI:SQLite3:bookinfo_sqlite.db')%>
                <% sth=dbh.execute("select * from bookinfos where id=
                \'#{target_id}\'")%>

                    <html>

                    <head>
                        <meta http-equiv="content-type" content="text/html" charset=" UTF-8" />
                        <link rel="stylesheet " type=" text/css " href="default.css ">
                        <title>蔵書管理</title>
                    </head>

                    <body>
                        <h1>蔵書管理</h1>
                        <h2>蔵書データの修正</h2>
                        <p>このデータを修正します|
                            <a href="list.erb">蔵書データの修正</a>|
                            <a href="index.html">メニュー画面に戻る</a>
                        </p>
                        <hr>

                        <form method="post" action="edit">
                            <input type="hidden" name="id" value="<%=target_id%>" />

                            <table>
                                <% sth.each do |row|%>
                                    <th>項目名</th>
                                    <th>修正データ</th>
                                    <% ['id','title','author','page','publish_date'].each do |name| %>
                                        <tr>
                                            <td>
                                                <%= name %>
                                            </td>
                                            <td>
                                                <input type="text" name="<%=name%>" value="<%=row[name]%>" size="60">
                                            </td>
                                        </tr>
                                        <% end %>
                                            <%end%>
                            </table>
                            <input type="submit" value="修正を実行" />
                        </form>
                        <hr>
                    </body>

                    </html>