<%# -*- coding: utf-8 -*-%>
    <html>

    <head>
        <meta http-equiv="content-type" content="text/html" charset=" UTF-8" />
        <link rel="stylesheet " type=" text/css " href="default.css ">
        <title>蔵書管理</title>
    </head>

    <body>
        <h1>蔵書管理</h1>
        <h2>処理対象</h2>
        <p>検索条件を入力してください|
            <a href="list.erb">蔵書データの表示</a>|
            <a href="index.html">メニュー画面に戻る</a>
        </p>
        <hr>

        <form method="post" action="retrieve">
            <table>
                <tr>
                    <th>項目名</th>
                    <th>検索データ</th>
                </tr>

                <% ['id','title','author','page','publish_date'].each do |name| %>
                    <tr>
                        <td>
                            <%= name %>
                        </td>
                        <td>
                            <input type="text" name="<%=name%>" size="60">
                        </td>
                    </tr>
                    <% end %>
            </table>
            <input type="submit" value="選択した処理を実行">
        </form>
        <hr>
    </body>

    </html>